/* TokenDetail.module.css */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.nutshellContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.gridItem {
  background-color: #1b1b1bbe;
  padding: 20px;
  border-radius: 5px;
}

.table1 {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table1 th,
.table1 td {
  border: 1px solid #131212;
  padding: 8px;
  text-align: left;
}

.table1 th {
  background-color: #131212;
}

.containerDetail {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.table3 {
  width: 100%;
  border-collapse: collapse;
}

.table3 th,
.table3 td {
  border: 1px solid #131212;
  padding: 8px;
  text-align: left;
}

.table3 th {
  background-color: #131212;
}

.piecontainer {
  margin-top: 20px;
}

.TokenValueCalculator {
  margin-top: 20px;
}

.containerMutualtoken {
  margin-top: 30px;
}
